.popup {
  display: flex;
  visibility: hidden;
  z-index: 2;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  height: 100vh;
  width: 100%;
}
