.form__field {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 75px;
}

.form__field:first-of-type {
  margin-top: 54px;
}

@media screen and (max-width: 700px) {
  .form__field:first-of-type {
    margin-top: 75px;
  }
}
