.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .popup__container {
    padding: 0 19px;
  }
}
