.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 45px 0 0;
  max-width: 880px;
  min-height: 74px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 970px) {
  .header {
    padding: 28px 0 0;
    min-height: 56px;
  }
}
