.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 45px 0 41px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84,84,84,.7);
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .header {
    padding: 28px 0 32px;
  }
}
