.profile__info-inner {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  .profile__info-inner {
    padding-left: 28px;
    margin-right: 28px;
  }
}
