@import "../vendor/normalize.css";
@import "../vendor/fonts/inter/inter.css";

@import "../blocks/page/page.css";
@import "../blocks/text/text.css";
@import "../blocks/list/list.css";
@import "../blocks/list/__item/list__item.css";
@import "../blocks/interactive-element/interactive-element.css";
@import "../blocks/element-header/element-header.css";
@import "../blocks/element-header/_theme/element-header_theme_popup.css";
@import "../blocks/button/button.css";

@import "../blocks/header/header.css";
@import "../blocks/header/__logo/header__logo.css";

@import "../blocks/content/content.css";
@import "../blocks/profile/profile.css";
@import "../blocks/profile/__avatar/profile__avatar.css";
@import "../blocks/profile/__info/profile__info.css";
@import "../blocks/profile/__info-inner/profile__info-inner.css";
@import "../blocks/profile/__name/profile__name.css";
@import "../blocks/button/_type/button_type_profile-edit.css";
@import "../blocks/profile/__about/profile__about.css";
@import "../blocks/button/_type/button_type_add-element.css";

@import "../blocks/elements/elements.css";
@import "../blocks/elements/__grid/elements__grid.css";
@import "../blocks/element/element.css";
@import "../blocks/element/__image/element__image.css";
@import "../blocks/element/__description/element__description.css";
@import "../blocks/element/__like/element__like.css";
@import "../blocks/element/__like/_active/element__like_active.css";


@import "../blocks/footer/footer.css";
@import "../blocks/footer/__copyright/footer__copyright.css";

@import "../blocks/popup/popup.css";
@import "../blocks/popup/_opened/popup_opened.css";
@import "../blocks/form/form.css";
@import "../blocks/form/__input/form__input.css";
@import "../blocks/button/_type/button_type_popup-submit.css";
@import "../blocks/button/_type/button_type_popup-close.css";

@import "../blocks/figure/figure.css";
@import "../blocks/figure/__image/figure__image.css";
@import "../blocks/figure/__caption/figure__caption.css";
