.button_type_popup-submit {
  margin-top: 16px;
  background-color: black;
  border-radius: 2px;
  min-height: 50px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.button_type_popup-submit:hover {
  opacity: .8;
}

@media screen and (max-width: 700px) {
  .button_type_popup-submit {
    min-height: 46px;
    font-size: 14px;
  }
}
